<h1>Get To Know {{dog.name}}!</h1>


<div class='get-to-know'>

<p>{{dog.name}} can best be described as {{dog.bio}}.</p>

<p><b>Age:</b> {{dog.age}}</p>
<p><b>Weight:</b> {{dog.weight}}lbs</p>

<p><b>Energy:</b> {{dog.energy}}</p>
<p><b>Patience:</b> {{dog.patience}}</p>
<p><b>Dominance:</b> {{dog.dominance}}</p>

<p>{{dog.name}}'s owner is username: {{dog.user.username}}</p>
<p>Send {{dog.user.username}} an email at: <a href="mailto:{{dog.user.email}}">{{dog.user.email}}</a></p>

</div>